/* html {
  font-size: 80%;
} */

body{
  padding: 0;
  margin: 0;
  /* font-family: 'Titillium Web', sans-serif; */
  background-image: url('../images/bg5.jpg');/* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 5; */
}

/* #btn-login {

}

#btn-logout {
  
} */

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.welcome {
  text-align: center;
  color: #f1f1f1;
  margin-top: 25px;
  margin-bottom: 20px;
}

.welcome h2 {
  font-weight: 800;
}

.icons {
  padding-left: 5px;
  padding-right: 5px;
}

.msg{
  font-size: 20px;
}

.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}
